form.container {
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.sheet-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;
    margin-bottom: 30px;
}

.attributes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.attribute-box {
    display: flex;
    flex-direction: column;
}
