input {
  width: var(--input-width);
  height: var(--input-height);
  padding: 0.4rem 1.6rem;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--ink);
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--ink);
  border-radius: var(--sketch-radius-1);
  box-shadow: 0.3rem 0.3rem 0 var(--ink);
  outline: none;
  transition: all 0.2s ease;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0.4rem 0.4rem 0 var(--ink);
  }

  &:focus,
  &:focus-visible {
    border: var(--border-width) solid var(--input-focus);
    border-radius: var(--sketch-radius-2);
    background-color: var(--paper-white);
    box-shadow: .4rem .4rem 0 var(--ink);
  }
}
