:root {
  --ink: #323232;
  --paper-front: #fff9e6;
  --paper-back: #e6f0ff;
  --bg-color: #ffffff;
  --primary-btn: #ff6b6b;
  --primary-btn-hover: #ff5252;
  --secondary-btn: #4ecdc4;
  --secondary-btn-hover: #3bbfb6;
  --switch-bg: #ffe66d;
  --input-focus: #2d8cf0;
  --input-placeholder: #666;
  --paper-white: #fffdf5;
  --edit-btn: #9b5de5;
  --edit-btn-hover: #8149c5;

  /* Estilização  do arredondamento das bordas */
  --sketch-radius-1: .8rem 2.4rem .8rem 2.4rem / 2.4rem .8rem 2.4rem .8rem;
  --sketch-radius-2: 2.4rem .8rem 2.4rem .8rem / .8rem 2.4rem .8rem 2.4rem;
  --sketch-radius-btn: 1.6rem .5rem 1.6rem .5rem / .5rem 1.6rem .5rem 1.6rem;

  font-family: "Comic Sans MS", "Chalkboard SE", "Marker Felt", "Gochi Hand",
    sans-serif;

  --lato: "Lato";
  --krona: "Krona One";
  --germania: "Germania One";

  --card-width: 30rem;
  --card-height: 35rem;
  --input-width: 25rem;
  --input-height: 4rem;
  --btn-width: 12rem;
  --btn-height: 4rem;

  --border-width: .2rem;
  --shadow-offset: .4rem;
}
